

body {
    background-image: url("./background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Salsa", cursive;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: auto;
}



.box{
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 10%;
    border-radius: 50px;

    justify-content: center;
    align-items: center;
}

.text{
    align-items: center;
    text-align: center;
}

.text h1{
    color: red;
    font-weight: bold;

}

.text h2 {
    color: white;

}

.interact{
    display: flex;
    height: 100px;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.name_input{
    height: 50px;
    width: 350px;
    background-color: rgba(172, 167, 167, 0.7);
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
    border: rgba(172, 167, 167, 0.7);


}

::placeholder{
    color: white;
    opacity: 1;    
    font-family: "Salsa", cursive;
}

.button_1{
    height: 50px;
    width: 70px;
    border-radius: 50px;
    background-color: rgb(150, 4, 4);
    border: red;
    color: white;
    font-size: 15px;
    font-family: "Salsa", cursive;

}

.button_1:hover{
    background-color: rgb(210, 0, 0);
    transition-duration: 500ms;
}



h3{
    color: white;
}

a{
    color: rgb(0, 119, 255);
}

.hasil{
    display: flex;
    
    height: 200px;
    width: 600px;
    align-items: center;
    flex-direction: column;
}

#text-hasil{
    font-size: 30px;
    color: white;
    margin-bottom: 10px;

}

#kodam-hasil{
    color: red;
    font-size: 50px;
    margin-top: 10px;

}

